@page "/my-posts"

@using BlazorServerApp.Authentication
@using BlazorServerApp.Controllers;
@using BlazorServerApp.Models.PostsModels;
@using System.Security.Claims

@inject NavigationManager NavManager
@inject IToastService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider

<br />
<br />
<hr />
<div class="post-container">
    @foreach (var post in posts)
    {
        <div class="post">
            <div class="post-header">
                <div class="post-title">
                    <div class="post-title" data-title="@post.CraftName">@post.CraftName</div>
                </div>

                <button class="delete-post-btn" @onclick="() => DeletePost(post.UserPostId)">Eliminar</button>
            </div>
            <div class="post-media">
                @if (!string.IsNullOrWhiteSpace(post.VideoLink))
                {
                    <iframe class="post-iframe" src="@post.VideoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
                else if (post.Image != null && post.Image.Any())
                {
                    <img src="@post.Image.First()" alt="Post Image">
                }
                else
                {
                    <img src="placeholder-image.jpg" alt="Default Image">
                }
            </div>
            <div class="post-details">
                <p class="post-description">@post.PostDescription</p>
                <p class="post-date">@post.PublishDate</p>

                <p class="post-difficulty">Difficulty: @post.Difficulty</p>
                <p class="post-stepcount">Steps: @post.StepCount</p>
                <button class="view-post-btn" @onclick="(() => EditPost(post.UserPostId))">Editar Post</button>
            </div>
        </div>
    }
</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ClaimsPrincipal AuthenticationStateUser { get; set; }
    private ClaimsPrincipal AuthenticationStateProviderUser { get; set; }

    private List<UserPost> posts = new List<UserPost>();

    PostController postController = new PostController();

    public string PostToDelete { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState;

        authenticationState = await authenticationStateTask;
        this.AuthenticationStateUser = authenticationState.User;

        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        authenticationState = await customAuthStateProvider.GetAuthenticationStateAsync();
        this.AuthenticationStateProviderUser = authenticationState.User;
        var authState = authenticationState;

        List<UserPost> postsNotFiltered = await postController.GetAllPosts();

        if (authState.User.Identity.IsAuthenticated)
        {
            posts = postsNotFiltered.Where(p => p.UserId == (authState.User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value).ToString()).ToList();
        }

    }

    public async Task DeletePost(string postId)
    {
        var result = await postController.DeletePost(postId);

        if (result)
            ToastService.ShowSuccess("Post borrado con éxito");
        else
            ToastService.ShowError("Error al borrar el post");

        StateHasChanged();

        NavManager.NavigateTo("/", true);
    }

    public async Task EditPost(string userPostId)
    {
        NavManager.NavigateTo($"/create-post/{userPostId}");
    }
}
